<!-- Header -->
<header
  class="sticky top-0 flex justify-between items-center p-4 border-b border-[--border] backdrop-blur-lg bg-[color-mix(in_srgb,var(--background)_50%,transparent)] z-40">
  <h1 class="text-xl font-bold">My App</h1>
  <div class="flex gap-2">
  </div>
</header>

<main class="p-4">
  <h1 class="text-xl font-bold mb-4">My Profile</h1>

  <!-- Cards -->
  <div class="flex flex-col gap-4">

    <!-- Personal Information -->
    <div class="flex flex-col gap-4 border rounded-xl p-4 shadow-sm">

      <!-- Header -->
      <div class="flex justify-between items-center">
        <h1 class="text-xl font-bold">Personal Information</h1>
        <div class="font-semibold text-xs border border-[--border] p-2 rounded-xl">Edit</div>
      </div>

      <!-- Avatar and name -->
      <div class="flex">

        <!-- Avatar -->
        <div class="rounded-full bg-gray-200 size-12 mr-3"></div>

        <!-- Name -->
        <div class="flex-1">
          <h1 class="font-bold">John Doe</h1>
          <p class="font-bold text-sm text-[--muted-foreground]">Web developer</p>
        </div>

      </div>

      <div class="flex flex-col gap-2">
        <h1 class="font-bold text-sm">Email</h1>
        <p class="font-bold text-xs text-[--muted-foreground]">john.doe&#64;example.com</p>
      </div>

    </div>

    <!-- Skills Information -->
    <div class="flex flex-col gap-4 border border-[--border] rounded-xl p-4 shadow-sm">

      <!-- Header -->
      <div class="flex justify-between items-center">
        <h1 class="text-xl font-bold">Skills</h1>
      </div>


      <div class="flex flex-wrap gap-2">
        <div
          *ngFor="let skill of ['JavaScript', 'React', 'Next.js', 'TypeScript', 'HTML/CSS', 'Node.js', 'UI/UX Design', 'Responsive Design', 'Git', 'API Development']"
          class="border border-[--border] font-semibold text-sm rounded-full py-1 px-2">{{skill}}</div>
      </div>

    </div>


    <!-- Logout -->
    <div class="flex flex-col gap-4 border border-[--border] rounded-xl p-4 shadow-sm">

      <div class="flex flex-wrap gap-2 items-center justify-center border border-red-500 rounded-xl py-2 font-semibold">
        <span class="text-red-500">Log Out</span>
      </div>

    </div>

  </div>
</main>
