<div class="min-h-screen flex flex-col bg-[--background] text-[--foreground]">
  <!-- Main -->
  <main class="flex-1">
    <router-outlet />
  </main>

  <!-- Bottom Nav -->
  <nav
    class="flex justify-around border-t border-[--border] p-3 fixed bottom-0 left-0 right-0 bg-[color-mix(in_srgb,var(--background)_50%,transparent)] z-50 backdrop-blur-lg">
    <a routerLink="/home" routerLinkActive="text-[--accent]" class="flex flex-col gap-1 justify-center items-center">
      <i-lucide class="size-4" [img]="Home"></i-lucide>
      <span class="text-xs font-semibold">Home</span>
    </a>

    <a routerLink="/chat" routerLinkActive="text-[--accent]" class="flex flex-col gap-1 justify-center items-center">
      <i-lucide class="size-4" [img]="Chat"></i-lucide>
      <span class="text-xs font-semibold">Chat</span>
    </a>
  </nav>
</div>
